| <!--[if mso]><table style='width:100%'><tr><td><center><table style="color:#444;width:620px"><tr><td><![endif]-->

// ##################### BEGIN ARTICLES ###################
.article-container
  .article
    div.article-header
      div.h2 #SupervisingCoordinator
      div.h3 Recieved $7,500 in commissions and management bonuses with a four week pay cycle
    img.float-left(src="https://via.placeholder.com/300x300")
    p FirstName LastName Country 
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque nulla tempus pellentesque blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse nisl lorem, fermentum et tortor et, ultricies tincidunt erat. Donec accumsan tincidunt imperdiet. Etiam eu semper quam, vel venenatis nisi. Fusce pharetra egestas magna, sit amet imperdiet tortor varius quis. Proin porttitor suscipit quam, vitae malesuada tortor efficitur id. Sed id ultricies diam, dapibus volutpat nunc. Maecenas commodo eu arcu et laoreet. Fusce interdum ultricies ex. Nunc turpis arcu, pharetra id vulputate non, fringilla eu erat.

//- You must wrap article.gray and article.blue in their respective versions for the correct background color in outlook
| <!--[if mso]><table style="background-color:#e6e6e6;color:#444;width:100%;"><tr><td><center><![endif]-->
.article-container.gray
  .article
    div.article-heade
      div.h2 #ProfessionalCoordinator
      div.h3 Recieved $4,500 in commissions and management bonuses with a four week pay cycle
    table.smarttable(cellpadding="5")
      tr
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName COUNTRY
          block see_story_here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName COUNTRY
          block see_story_here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName COUNTRY
          block see_story_here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName COUNTRY
          block see_story_here
      tr
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName COUNTRY
          block see_story_here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName COUNTRY
          block see_story_here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName COUNTRY
          block see_story_here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName COUNTRY
          block see_story_here
| <!--[if mso]></center></td></tr></table><![endif]-->

.article-container
  .article
    div.article-header
      div.h2 #SeniorMasterCoordinator
      div.h3 Recieved $3,000 in commissions and management bonuses with a four week pay cycle
    table.smarttable(cellpadding="5")
      tr
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName COUNTRY
          block see_story_here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName COUNTRY
          block see_story_here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName COUNTRY
          block see_story_here

// ##################### END ARTICLES ###################
| <!--[if mso]></td></tr></table></center></td></tr></table><![endif]-->
