- var n = 1;
| <!--[if mso]><table style='width:100%'><tr><td><center><table style="color:#444;width:620px"><tr><td><![endif]-->
// ##################### BEGIN ARTICLES ###################
.article-container
  .article
    div.article-header
      div.h2 #SupervisingCoordinator
      div.h3 Recieved $7,500 in commissions and management bonuses with a four week pay cycle
    img.float-left(src="https://via.placeholder.com/300x300")
    p Someone's Name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque nulla tempus pellentesque blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse nisl lorem, fermentum et tortor et, ultricies tincidunt erat. Donec accumsan tincidunt imperdiet. Etiam eu semper quam, vel venenatis nisi. Fusce pharetra egestas magna, sit amet imperdiet tortor varius quis. Proin porttitor suscipit quam, vitae malesuada tortor efficitur id. Sed id ultricies diam, dapibus volutpat nunc. Maecenas commodo eu arcu et laoreet. Fusce interdum ultricies ex. Nunc turpis arcu, pharetra id vulputate non, fringilla eu erat.

//- You must wrap article.b and article.c in their respective versions for the correct background color in outlook
| <!--[if mso]><table style="background-color:#e6e6e6;color:#444;width:100%;"><tr><td><center><![endif]-->
.article-container.b
  .article
    div.article-header
      div.h2 #ProfessionalCoordinator
      div.h3 Recieved $4,500 in commissions and management bonuses with a four week pay cycle
    table.smarttable
      tr
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here
      tr
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here
| <!--[if mso]></center></td></tr></table><![endif]-->

.article-container
  .article
    div.article-header
      div.h2 #SeniorMasterCoordinator
      div.h3 Recieved $3,000 in commissions and management bonuses with a four week pay cycle
    table.smarttable
      tr
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here

//- You must wrap article.b and article.c in their respective versions for the correct background color in outlook
| <!--[if mso]><table style="background-color: #0091B3; color: #444; width:100%"><tr><td><center><![endif]-->
.article-container.c
  .article
    div.article-header
      div.h1 Want to be featured?
      div.h3 Visit UnFranchise.com to download release & recognition form and follow instructions.
| <!--[if mso]></center></td></tr></table><![endif]-->

//- You must wrap article.b and article.c in their respective versions for the correct background color in outlook
| <!--[if mso]><table style="background-color: #e6e6e6; color: #444; width:100%"><tr><td><center><![endif]-->
.article-container.b
  .article
    div.article-header
      div.h2 #MasterCoordinator
      div.h3 Recieved $4,500 in commissions and management bonuses with a four week pay cycle
    table.smarttable
      tr
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here
        td
          img(src="https://via.placeholder.com/300x300")
          div FirstName LastName USA
          a(href="#") see story here
| <!--[if mso]></center></td></tr></table><![endif]-->

.article-container
  .article
    div.article-header
      div.h2 #ExecutiveCoordinator
      div.h3 Recieved $600 in commissions and management bonuses with a four week pay cycle
    table.smarttable
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
    a(href="#") SEE MORE QUALIFIERS

//- You must wrap article.b and article.c in their respective versions for the correct background color in outlook
| <!--[if mso]><table style="background-color: #e6e6e6; color: #444; width:100%"><tr><td><center><![endif]-->
.article-container.b
  .article
    div.article-header
      div.h2 #Coordinator
      div.h3 Recieved $600 in commissions and management bonuses with a four week pay cycle
    table.smarttable
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
      tr
        td
          div FirstName LastName USA
        td
          div FirstName LastName USA
    a(href="#") SEE MORE QUALIFIERS
| <!--[if mso]></center></td></tr></table><![endif]-->
// ##################### END ARTICLES ###################
| <!--[if mso]></td></tr></table></center></td></tr></table><![endif]-->
