| <!--[if mso]><table style="background-color: #0091B3; color: #fff; width:100%"><tr><td><center><![endif]-->
.article-container#USA.blue
  .article
    div.article-header
      div.h1
        block country_USA
| <!--[if mso]></center></td></tr></table><![endif]-->
include _articles.pug

| <!--[if mso]><table style="background-color: #0091B3; color: #fff; width:100%"><tr><td><center><![endif]-->
.article-container#CAN.blue
  .article
    div.article-header
      div.h1
        block country_CAN
| <!--[if mso]></center></td></tr></table><![endif]-->
include _articles.pug

| <!--[if mso]><table style="background-color: #0091B3; color: #fff; width:100%"><tr><td><center><![endif]-->
.article-container#GBR.blue
  .article
    div.article-header
      div.h1
        block country_GBR
| <!--[if mso]></center></td></tr></table><![endif]-->
include _articles.pug

| <!--[if mso]><table style="background-color: #0091B3; color: #fff; width:100%"><tr><td><center><![endif]-->
.article-container#AUS.blue
  .article
    div.article-header
      div.h1
        block country_AUS
| <!--[if mso]></center></td></tr></table><![endif]-->
include _articles.pug

| <!--[if mso]><table style="background-color: #0091B3; color: #fff; width:100%"><tr><td><center><![endif]-->
.article-container#TWN.blue
  .article
    div.article-header
      div.h1
        block country_TWN
| <!--[if mso]></center></td></tr></table><![endif]-->
include _articles.pug

| <!--[if mso]><table style="background-color: #0091B3; color: #fff; width:100%"><tr><td><center><![endif]-->
.article-container#HKG.blue
  .article
    div.article-header
      div.h1
        block country_HKG
| <!--[if mso]></center></td></tr></table><![endif]-->
include _articles.pug

| <!--[if mso]><table style="background-color: #0091B3; color: #fff; width:100%"><tr><td><center><![endif]-->
.article-container#SGP.blue
  .article
    div.article-header
      div.h1
        block country_SGP
| <!--[if mso]></center></td></tr></table><![endif]-->
include _articles.pug

| <!--[if mso]><table style="background-color: #0091B3; color: #fff; width:100%"><tr><td><center><![endif]-->
.article-container#MYS.blue
  .article
    div.article-header
      div.h1
        block country_MYS
| <!--[if mso]></center></td></tr></table><![endif]-->
include _articles.pug