.article-container#USA.blue
  .article
    div.article-header
      div.h1
        block text_USA
include _articles.pug

.article-container#USA.blue
  .article
    div.article-header
      div.h1
        block text_TWN
include _articles.pug

.article-container#USA.blue
  .article
    div.article-header
      div.h1
        block text_TWN
include _articles.pug