// ################### BEGIN FOOTER ###################
.clearfix
    | <!--[if mso]><table style="color: #444; width:100%"><tr><td><center><table style="color:#444;width:620px"><![endif]-->
.article-container
  .article
    div.article-header
      div.h1
        block hello
      div.h2
        block been_up_to
    table.smarttable(cellpadding="0")
      tr
        td
          a(href="#imageLink")
            img(src="https://via.placeholder.com/300x300")
        td
          a(href="#imageLink")
            img(src="https://via.placeholder.com/300x300")
        td
          a(href="#imageLink")
            img(src="https://via.placeholder.com/300x300")
        td
          a(href="#imageLink")
            img(src="https://via.placeholder.com/300x300")
      tr
        td
          a(href="#imageLink")
            img(src="https://via.placeholder.com/300x300")
        td
          a(href="#imageLink")
            img(src="https://via.placeholder.com/300x300")
        td
          a(href="#imageLink")
            img(src="https://via.placeholder.com/300x300")
        td
          a(href="#imageLink")
            img(src="https://via.placeholder.com/300x300")
    | <!--[if mso]></table></center></td></tr></table><![endif]-->
    | <!--[if mso]><table style="background-color: white; color: #444; width:100%"><tr><td style="vertical-align: middle; color:#444;"><center><![endif]-->
    div.footer-links
      block twitter
      | <!--[if mso]>&nbsp;<![endif]-->
      block facebook
      | <!--[if mso]>&nbsp;<![endif]-->
      block instagram
      | <!--[if mso]>&nbsp;<![endif]-->
      block youtube
      | <!--[if mso]>&nbsp;<![endif]-->
      block pinterest
    div
      strong COPYRIGHT &reg; 2019, MARKET AMERICA INC.
      br
      strong 1302 PLEASANT RIDGE ROAD, GREENSBORO NC 27409
    | <!--[if mso]></center></td></tr></table><![endif]-->

// ################### END FOOTER ####################