// ################### BEGIN FOOTER ###################
.clearfix
    | <!--[if mso]><table style="background-color: #0091B3; color: white; width:100%"><tr><td><center><table style="color:white;width:620px"><![endif]-->
.article-container
  .article
    div.article-header
      div.h1 Hello!
      div.h2 Here's what we've been up to online.
    table.smarttable
      tr
        td
          a(href="#")
            img(src="https://via.placeholder.com/300x300")
        td
          a(href="#")
            img(src="https://via.placeholder.com/300x300")
        td
          a(href="#")
            img(src="https://via.placeholder.com/300x300")
        td
          a(href="#")
            img(src="https://via.placeholder.com/300x300")
      tr
        td
          a(href="#")
            img(src="https://via.placeholder.com/300x300")
        td
          a(href="#")
            img(src="https://via.placeholder.com/300x300")
        td
          a(href="#")
            img(src="https://via.placeholder.com/300x300")
        td
          a(href="#")
            img(src="https://via.placeholder.com/300x300")
    | <!--[if mso]></table></center></td></tr></table><![endif]-->
    | <!--[if mso]><table style="background-color: white; border: 1px solid #0091B3; color: white; width:100%"><tr><td style="vertical-align: middle; color:#ffffff;"><center><![endif]-->
    div.title-strip(cellpadding="0" cellspacing="0")
      img(src="https://via.placeholder.com/50x50")
      img(src="https://via.placeholder.com/50x50")
      img(src="https://via.placeholder.com/50x50")
      img(src="https://via.placeholder.com/50x50")
      img(src="https://via.placeholder.com/50x50")
    div
      strong COPYRIGHT &reg; 2019, MARKET AMERICA INC.
      br
      strong 1302 PLEASANT RIDGE ROAD, GREENSBORO NC 27409
    | <!--[if mso]></center></td></tr></table><![endif]-->

// ################### END FOOTER ####################