// ################### BEGIN FOOTER ###################
.clearfix
    | <!--[if mso]><table style="background-color: #45b5aa; color: white; width:100%"><tr><td><center><table style="color:white;width:620px"><![endif]-->
.footer-container
  .footer
    .connect
      h2
        block footer_connect-with-us
    .social
      table(cellspacing='3')
        block footer_social
    .info
      p
        block footer_info
    | <!--[if mso]></table></center></td></tr></table><![endif]-->
// ################### END FOOTER ####################