// ##################### BEGIN HEADER ###################

| <!--[if mso]><style type="text/css">body, table, td {font-family: Arial, Helvetica, sans-serif !important;}.img-list {list-style: none !important;}p a{color:#0091B3 !important}.info p a {color: white !important}</style><![endif]-->
.header-container
  .title
    .issue
      | <!--[if mso]><table style="background-color: white; border: 1px solid #0091B3; color: white; width:100%"><tr><td style="vertical-align: middle; color:#ffffff;"><center><![endif]-->
      div.title-strip(cellpadding="0" cellspacing="0")
        a(href="#")
          img(src="https://via.placeholder.com/30x20")
        a(href="#")
          img(src="https://via.placeholder.com/30x20")
        a(href="#")
          img(src="https://via.placeholder.com/30x20")
        a(href="#")
          img(src="https://via.placeholder.com/30x20")
        a(href="#")
          img(src="https://via.placeholder.com/30x20")
        a(href="#")
          img(src="https://via.placeholder.com/30x20")
      | <!--[if mso]></center></td></tr></table><![endif]-->
    // you shouldn't have to mess with this table tag unless changing background-image
    <table style="background-color:#0091B3;background-repeat:no-repeat;background-size:cover;background-image:url(http://images.marketamerica.com/creative/ufn/2019/GBL-UFOLVL/template/people-are-the-heros.jpg);color:white;width:100%;"><tr><td><center>
    .header
      block header_title
    </table></center></td></tr></table>

// ##################### END HEADER #####################
