// ##################### BEGIN HEADER ###################

| <!--[if mso]><style type="text/css">body, table, td {font-family: Arial, Helvetica, sans-serif !important;}.img-list {list-style: none !important;}p a{color:#0091B3 !important}.info p a {color: white !important}</style><![endif]-->
.header-container
  .title
    .issue
      | <!--[if mso]><table style="background-color: white; color: #444; width:100%"><tr><td style="vertical-align: middle; color:#444;"><center><![endif]-->
      div.title-strip
        | <!--[if mso]>&nbsp;<![endif]-->
        a(href="#USA")
          img(src="http://images.marketamerica.com/creative/ufn/2019/GBL-UFOLVL/template/flag-usa-sm.png")
        | <!--[if mso]>&nbsp;<![endif]-->
        a(href="#CAN")
          img(src="http://images.marketamerica.com/creative/ufn/2019/GBL-UFOLVL/template/flag-can-sm.png")
        | <!--[if mso]>&nbsp;<![endif]-->
        a(href="#GBR")
          img(src="http://images.marketamerica.com/creative/ufn/2019/GBL-UFOLVL/template/flag-gbr-sm.png")
        | <!--[if mso]>&nbsp;<![endif]-->
        a(href="#AUS")
          img(src="http://images.marketamerica.com/creative/ufn/2019/GBL-UFOLVL/template/flag-aus-sm.png")
        | <!--[if mso]>&nbsp;<![endif]-->
        a(href="#TWN")
          img(src="http://images.marketamerica.com/creative/ufn/2019/GBL-UFOLVL/template/flag-twn-sm.png")
        | <!--[if mso]>&nbsp;<![endif]-->
        a(href="#HKG")
          img(src="http://images.marketamerica.com/creative/ufn/2019/GBL-UFOLVL/template/flag-hkg-sm.png")
        | <!--[if mso]>&nbsp;<![endif]-->
        a(href="#SGP")
          img(src="http://images.marketamerica.com/creative/ufn/2019/GBL-UFOLVL/template/flag-sgp-sm.png")
        | <!--[if mso]>&nbsp;<![endif]-->
        a(href="#MYS")
          img(src="http://images.marketamerica.com/creative/ufn/2019/GBL-UFOLVL/template/flag-mys-sm.png")

      | <!--[if mso]></center></td></tr></table><![endif]-->
    // you shouldn't have to mess with this table tag unless changing background-image
    <table style="background-color:#0091B3;background-repeat:no-repeat;background-size:cover;background-image:url(http://images.marketamerica.com/creative/ufn/2019/GBL-UFOLVL/template/people-are-the-heros.jpg);color:#444;width:100%;"><tr><td><center>
    .header
      block header_title
    </table></center></td></tr></table>

// ##################### END HEADER #####################
