/////////// Whole page
body
  color #444
  font-size 14px
  margin 0

body, html
  font-family Arial, sans-serif
  overflow-x hidden

.clearfix
  clear both

/////////// Header

.header-container
  background-color #0091B3

.header
  color #ffffff
  display table-cell
  height 422px
  width: 100%
  vertical-align middle

  span 
    font-weight bold
  .lg
    font-size 50px
  .md
    font-size 25px

.title
  background-color white

.issue
  padding 5px 0

.title-strip
  padding 5px
  margin: auto
  text-align center

  img
    padding 5px

  a
    padding 10px 5px

/////////// Footer

.footer-container
  background-color #0091B3

.footer
  background-color #0091B3
  color #ffffff

  .connect, .info, .links
    color #ffffff

  .connect
    background-color #0091B3
    color #ffffff
    padding-top 10px
    h2
      color #ffffff

  .links
    background-color #0091B3
    table
      background-color #0091B3
      border none
    img
      padding-right 10px

  .info
    background-color #0091B3
    color #ffffff
    p
      color #ffffff
      margin 0
      padding 10px 0
    a
      color #ffffff
      text-decoration none
      font-weight bold
      word-break break-word

.copyright
  background-color #0091B3
  color #ffffff
  padding 10px 0
  text-align center

/////////// Articles
.article-container
  &.b
    background-color #e6e6e6
  &.c
    background rgb(0,145,179)
    background -moz-linear-gradient(90deg, rgba(0,145,179,1) 0%, rgba(30,156,215,1) 18%, rgba(46,49,146,1) 75%, rgba(27,20,100,1) 100%)
    background -webkit-linear-gradient(90deg, rgba(0,145,179,1) 0%, rgba(30,156,215,1) 18%, rgba(46,49,146,1) 75%, rgba(27,20,100,1) 100%)
    background linear-gradient(90deg, rgba(0,145,179,1) 0%, rgba(30,156,215,1) 18%, rgba(46,49,146,1) 75%, rgba(27,20,100,1) 100%)
    color white

.article-header
  padding-bottom 10px

ol, ul
  display inline-block

sup
  padding 0
  font-size 75%
  vertical-align top
  line-height 1.20em
  margin .15em 0 .5em

p a
  font-weight bold
  text-decoration underline

a
  font-weight bold
  text-decoration underline

  &:visited
    color #444

.float-left
  float left
  padding 10px 10px 10px 0

.float-right
  float right
  padding 10px 0 10px 10px

.float-left, .float-right
  @media (max-width: 850px)
    float none

blockquote, li, ol, p, ul
  line-height 1.45em

.disclaimer
  font-size 0.75em
  font-style italic

.smarttable
  text-align center
  width 100%
  margin 10px 0
  
  td
    font-size 12px

@media all and (max-width: 650px)
  .smarttable
    border 0px;

  .smarttable thead
    display none
    border none
    height 0px
    margin 0px
    overflow hidden
    padding 0px
    max-width 0px
    max-height 0px

  .smarttable tr
    display block
    margin auto
    margin-left -10px
    margin-right -10px
    text-align center

  .smarttable td
    display inline-block
    text-align center
    width 48%

.article
  text-align center
  &.c .h1
    color #fff
  .h1
    font-size 50px
    font-weight bold
    max-width none !important
  .h2
    font-size 25px
    font-weight bold

  .h3
    font-size 18px
  
  .h1, .h2, .h3
    margin auto
    max-width 75%
    text-align center
  
  @media (max-width 530px)
    .h1, .h2, .h3
      max-width none

  p
    text-align left
    a
      color #444
      font-weight bold

  img
    max-width 150px

  .achieve
    color #666666
    float left
    padding 5px
    width 22%

    img
      width 100%

  @media (max-width 530px)
    .achieve
      height 270px
      width 46%

/////////// Spacing

.article-container, .footer-container
  @media (max-width: 650px)
    max-width 650px
  @media (max-width: 530px)
    max-width 530px
  @media (max-width: 420px)
    max-width 420px
    min-width 320px

.article, .footer
  padding-top 30px
  padding-bottom 30px
  margin auto
  width 620px
  @media (max-width: 650px)
    width 500px
  @media (max-width: 530px)
    width 380px
  @media (max-width: 420px)
    width 305px