extends ../../layout.pug

//- Header Content
block header_title
  span.md We're excited to share our weekly Global
  br
  span.lg UnFranchise Level Acheivement
  br
  br
  br
  br
  span.md #EmailWeeklyN 01
//- Articles Content
block text_USA 
  | 美国

block text_TWN
  | 台湾

block supervision_coordinator
  | 收到发酵水淀粉

//- Footer Contents
