extends ../../layout.pug

//- Header Content
block header_title
  | Berita UnFranchise
block header_view-in-web-browser
  | <a href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html">Lihat dalam pelayar web anda</a>
block header_languages
  | <a href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-en.html">English</a> | <a href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html">Malay</a> | <a href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-ch.html">中文</a>
block header_logo
  <img alt="UnFranchise News" src="http://images.marketamerica.com/creative/ufn/template/logo/logo-unfranchise-news-malay.png">
block header_in-this-issue
  | Dalam isu ini
block header_links-list
  tbody
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html#1")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html#2")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html#3")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html#4")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html#5")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html#6")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html#7")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html#8")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html#9")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html#10")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html#11")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html#12")

//- Articles Content
block articles_back-to-top
  | Kembali ke atas
block articles_read-more
  a.top(href="https://www.unfranchise.com/massemail_links/newsletters_MYS/19/ISSUE_##/mys-my.html#" + n) Ketahui Lebih Lanjut

//- Footer Contents
block footer_connect-with-us
  | Connect with us.
block footer_social
  <tr>
    <td>
      <a href="https://www.facebook.com/marketmalaysiaofficial/"><img alt="Facebook" src="http://images.marketamerica.com/creative/ufn/template/icon-facebook.png"></a>
    </td>
    <td>
      <a href="https://twitter.com/marketmsia"><img alt="Twitter" src="http://images.marketamerica.com/creative/ufn/template/icon-twitter.png"></a>
    </td>
    <td>
      <a href="https://www.instagram.com/marketmalaysiaofficial/"><img alt="instagram" src="http://images.marketamerica.com/creative/ufn/template/icon-instagram.png"></a>
    </td>
  </tr>
block footer_info
  | Jika anda menjumpai emel ini di dalam junk mail box anda, tambahkan <a style="color: white !important" href="mailto:myunfranchiseservice@marketmalaysia.my">myunfranchiseservice@marketmalaysia.my</a> ke dalam buku alamat anda untuk memastikan emel-emel ini dihantar ke dalam inbox anda. <br><br><a style="color: white !important; font-size:16px;" href="https://www.unfranchise.com/index.cfm?action=profile.unfSMSNotifications">Batal Langganan: </a><br>jika anda tidak ingin menerima e-mel kami, <a style="color: white !important" href="https://www.unfranchise.com/index.cfm?action=profile.unfSMSNotifications">klik batal langganan,</a>, skrol ke bawah untuk “Notifikasi E-mel” dan pilih “Batal Langganan”
  // <p class="disclaimer">Dasar Pendedahan Pendapatan dan Testimonial*:<br>Contoh-contoh pendapatan yang ditunjukkan bagi individu Pemilik UnFranchise Market America yang dipaparkan di sini bukan bertujuan untuk mewakili pendapatan bagi tahap spesifik Pemilik UnFranchise Market America, dan ia bukan bertujuan untuk mewakili bahawa sesiapa Pemilik UnFranchise akan memperoleh pendapatan dalam jumlah tersebut. Kejayaan seseorang Pemilik UnFranchise Market America bergantung pada usaha, bakat, dan dedikasi yang mereka curahkan untuk membina Perniagaan Market America mereka.  <br>Market America dan syarikat sekutunya tidak mengendors atau menyokong penyataan-penyataan yang dilakukan oleh Pemilik UnFranchise di sini. Market America tidak akan bertanggungjawab terhadap apa-apa penyataan yang dilakukan oleh Pemilik UnFranchise.<br>*Dasar ini tertakluk kepada Market America, Inc., dan syarikat sekutunya.</p>
