extends ../../layout.pug

//- Header Content
block header_title
  | UnFranchise News
block header_view-in-web-browser
  | View in your <a href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html">web browser</a>
block header_languages
  | <a href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html">English</a> | <a href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-ch.html">中文</a>
block header_logo
  <img alt="UnFranchise News" src="http://images.marketamerica.com/creative/ufn/template/logo/logo-unfranchise-news.png">
block header_in-this-issue
  | In this issue
block header_links-list
  tbody
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html#1")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html#2")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html#3")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html#4")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html#5")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html#6")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html#7")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html#8")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html#9")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html#10")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html#11")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html#12")

//- Articles Content
block articles_back-to-top
  | Back to Top
block articles_read-more
  a.top(href="https://www.unfranchise.com/massemail_links/newsletters_HK/19/issue_##/hkg-en.html#" + n) Read More

//- Footer Contents
block footer_connect-with-us
  | Connect with us.
block footer_social
  <tr>
    <td>
      <a href="https://www.facebook.com/markethongkong"><img alt="Facebook" src="http://images.marketamerica.com/creative/ufn/template/icon-facebook.png"></a>
    </td>
  </tr>
block footer_info
  | If you are finding these in your junk mail box, add <a style="color: white !important" href="mailto:marketamerica@marketamerica.com">marketamerica@marketamerica.com</a> to your address book to ensure they get delivered to your inbox. <br><br><a style="color: white !important; font-size:16px;" href="https://www.unfranchise.com/index.cfm?action=profile.unfSMSNotifications">Unsubscribe:</a><br>If you no longer want to receive our emails, <a style="color: white !important" href="https://www.unfranchise.com/index.cfm?action=profile.unfSMSNotifications">click unsubscribe</a>, scroll down to "Email Notifications" and select "Unsubscribe."
  // <p class="disclaimer">Income and Testimonial Disclosure Policy*:<br>The examples of income shown for individual Market America UnFranchise Owners featured here are not intended to be representative of the earnings of any specific class of Market America UnFranchise Owners, nor are they intended to represent that any given UnFranchise Owners will earn income in that amount. The success of any Market America Independent UnFranchise Owner will depend upon the amount of hard work, talent, and dedication which he or she devotes to building his or her Market America Business.    <br>Market America and its affiliates do not necessarily endorse or support the statements made by the UnFranchise Owner here. Market America shall not be held responsible for any claim made by UnFranchise Owners.<br>*The policy applies to Market America, Inc., and its affiliates.</p>

