extends ../../layout.pug

//- Header Content
block header_title
  span.md We're excited to share our weekly Global
  br
  span.lg UnFranchise Level Acheivement
  br
  br
  br
  br
  span.md #EmailWeeklyN 01
//- Articles Content

//- Footer Contents
