extends ../../layout.pug

//- Header Content
block header_title
  | UnFranchise News
block header_view-in-web-browser
  | View in your <a href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-en.html">web browser</a>
block header_languages
  | <a href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-en.html">English</a> | <a href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-sp.html">Español</a> | <a href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-ch.html">简体中文</a>
block header_logo
  <img alt="UnFranchise News" src="http://images.marketamerica.com/creative/ufn/template/logo/logo-unfranchise-news.png">
block header_in-this-issue
  | In this issue
block header_links-list
  tbody
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-en.html#1")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-en.html#2")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-en.html#3")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-en.html#4")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-en.html#5")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-en.html#6")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-en.html#7")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-en.html#8")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-en.html#9")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-en.html#10")
    tr
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##//esp-en.html#11")
      td(valign='top')
        a(href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-en.html#12")

//- Articles Content
block articles_back-to-top
  | Back to Top
block articles_read-more
  a.top(href="https://www.unfranchise.com/massemail_links/newsletters_SP/18/ISSUE_##/esp-en.html#" + n) Read More

//- Footer Contents
block footer_connect-with-us
  | Connect with us.
block footer_social
  <tr>
    <td>
      <a href="https://www.facebook.com/marketespana.byma/"><img alt="Facebook" src="http://images.marketamerica.com/creative/ufn/template/icon-facebook.png"></a>
    </td>
    <td>
      <a href="https://twitter.com/marketespana"><img alt="Twitter" src="http://images.marketamerica.com/creative/ufn/template/icon-twitter.png"></a>
    </td>
    <td>
      <a href="https://plus.google.com/110048617728609326624/posts"><img alt="Google+" src="http://images.marketamerica.com/creative/ufn/template/icon-google-plus.png"></a>
    </td>
    <td>
      <a href="https://www.youtube.com/channel/UCvwIOXAvUAN3IeJAeTwbTHg"><img alt="Youtube" src="http://images.marketamerica.com/creative/ufn/template/icon-youtube.png"></a>
    </td>
    <td>
      <a href="https://www.instagram.com/marketespanabyma/"><img alt="Instagram" src="http://images.marketamerica.com/creative/ufn/template/icon-instagram.png"></a>
    </td>
  </tr>
block footer_info
  | If you are finding these in your junk mail box, add <a style="color: white !important" href="mailto:marketamericaemail@marketamerica.com">marketamericaemail@marketamerica.com</a> to your address book to ensure they get delivered to your inbox. <br><br><a style="color: white !important; font-size:16px;" href="https://www.unfranchise.com/index.cfm?action=profile.unfSMSNotifications">Unsubscribe:</a><br>If you no longer want to receive our emails, <a style="color: white !important" href="https://www.unfranchise.com/index.cfm?action=profile.unfSMSNotifications">click unsubscribe</a>, scroll down to "Email Notifications" and select "Unsubscribe."
  // <p class="disclaimer">The income levels mentioned in this UnFranchise News are for illustration purposes only. They are not intended to represent the income of a typical Market España Independent UnFranchise Owner, nor are they intended to represent that any given Independent UnFranchise Owner will earn income in that amount. The success of any Market España Independent UnFranchise Owner will depend upon the amount of hard work, talent, and dedication that he or she devotes to building his or her Market España business.</p>
